*{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: #1F2937;
}

body{
    display: flex;
    flex-direction: column;
}

/*header*/

header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 250px;
}

header h2, header a, header ul{
    padding: 0;
    margin: 0;
}

header h2{
    color: #F9FAF8;
    font-size: 24px;
}

header ul{
    display: flex;
    list-style: none;    
    gap: 15px;
}

header a{
    text-decoration: none;
    font-size: 18px;
    color: #E5E7EB;
}

/*introduction*/
.introduction{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 125px 250px;
}

.intro-text{
    display: flex;
    flex-direction: column;
    align-items: baseline;
    flex-basis: 475px;
    gap: 10px;
}

.intro-text h1, .intro-text p, button{
    margin: 0;
} 

.intro-text h1{
    color: #F9FAF8;
    font-weight: 900;
    font-size: 48px;
}

.intro-text p{
    color: #E5E7EB;
    font-size: 18px;
}

.intro-text button{
    background-color: #3882F6;
    color: #F9FAF8;
    border: none;
    font-size: 18px;
    padding: 5px 25px;
    border-radius: 5px;
}

.img-placeholder{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 550px;
    height: 250px;
}

.img-placeholder, .img-placeholder p{
    background-color: grey;
    color:#F9FAF8;
}

/*information*/

.information{
    height: 450px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    gap: 50px;
}
.information, .information h2, .information p, .container, .card{
    background-color: #F9FAF8;
    margin: 0;
    text-align: center;
}

.information h2{
    color: #1F2937;
    font-size: 36px;
    font-weight: 900;
}

.information .container{
    display: flex;
    gap: 50px;
}

.information .card{
    width: 170px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.information p{
    color: grey;
}

.information .img-placeholder{
    height: 170px;
    width: 170px;
    background-color: #F9FAF8;
    border: 3px solid #3882F6;
    border-radius: 15px;
}

/*quote*/
.quote{
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.quote .container{
    display: flex;
    flex-direction: column;
    flex-basis: 820px;
}


.quote, .quote h1, .quote h2, .quote .container{
    background-color: #E5E7EB;
    margin: 0;
}

.quote h1{
    font-style: italic;
    font-weight: lighter;
    font-size: 36px;
    align-self: flex-start;
    text-align:left
}

.quote h2{
    align-self: flex-end;
    padding-right: 25px;
}

/*sign-up*/
.sign-up{
    background-color: #F9FAF8;
    margin: 0;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0px 450px;
}

.sign-up .container, .left-end, .right-end, .sign-up h3, .sign-up p, .sign-up button{
    color: #F9FAF8;
    background-color: #3882F6;
    margin: 0;
}

.sign-up .container{
    height: 150px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 100px;
    border-radius: 10px;
}

.left-end{
    text-align: left;
}

.sign-up button{
    border: 2px solid #F9FAF8;
    font-size: 18px;
    font-weight: 900;
    padding: 5px 25px;
    border-radius: 10px;
}

footer{
    height: 75px;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer p{
    color: #F9FAF8;
    margin: 0;
}
